<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script language="javascript" type="text/javascript">
		function checkUser(){
            var result = document.getElementById("projectid").value;
            if(result == ""  ){
			    alert("项目名称不能为空");
			    return false;
            }
            else if(result !=""){
                document.getElementById("formid").action="";
                var form=document.getElementById("formid")
                from.submit();
                return true
			  // document.getElementById("formid").submit();
                }
			}
        function cancel(){
            document.getElementById("formid").method="GET";
            document.getElementById("formid").action="/index/";
        }
	</script>
	<style type="text/css">
	/*#339966原来的颜色*/

	</style>

	<link href="/static/css/newproject.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
	<div>
		<span>项目管理</span>
		<span>>></span>
		<span>编辑项目</span>
	</div>
	<div>
		<form id="formid" method="POST" action="">
            {% csrf_token %}
			<table>
                <tr><td><input type="hidden" name="id" value="{{post.id}}"></td></tr>
				<tr>
					<td>项目名称：</td>
					<td>
						<input id="projectid" name="name" type="text" value="{{ post.name }}">
					</td>
				</tr>
				<tr>
					<td>项目说明：</td>
					<td>
						<input name="description" type="text" placeholder="请输入项目相关的日期等" value="{{ post.description }}">
					</td>
				</tr>
				<tr>
					<td>产品</td>
				</tr>
				<tr>
					<td>人员</td>
					<td>
						<input name="pmember" type="text" placeholder="请输入产品人员" value="{{ post.pmember }}">
					</td>
				</tr>
				<tr>
					<td>产品附件</td>
					<td>
                        <input value="{{ post.file }}">
                        <input type="file" value="{{ post.file }}">
                        <input type="text" value="post.proadress">
						<button>上传附件</button>
					</td>
				</tr>
				<tr>
					<td>UI</td>
				</tr>
				<tr>
					<td>人员</td>
					<td>
						<input name="uimember" type="text" placeholder="请输入UI人员" value="{{ post.uimember }}">
					</td>
				</tr>
				<tr>
					<td>UI附件</td>
					<td>
						<button>上传附件</button>
					</td>
				</tr>
				<tr>
					<td>开发</td>
				</tr>
				<tr>
					<td>人员</td>
					<td>
						<input name="devmember" type="text" placeholder="请输入开发人员" value="{{ post.devmember }}">
					</td>
				</tr>
				<tr>
					<td>测试</td>
				</tr>
				<tr>
					<td>人员</td>
					<td>
						<input name="testmember" type="text" placeholder="请输入测试人员" value="{{ post.testmember }}">
					</td>
				</tr>
				<tr>
					<td>测试附件</td>
					<td>
						<button>测试附件</button>
					</td>
					
				</tr>
			</table>
			<div>
				<button onclick="checkUser();">保存</button>
				<button onclick="cancel();">取消</button>
			</div>
		</form>
	</div>
	
</div>
</body>
</html>