<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<style type="text/css">
	/*#339966原来的颜色*/

	</style>

	<link href="{{STATIC_URL}}css/newproject.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="content">
	<div>
		<span>项目管理</span>
		<span>>></span>
		<span>新建项目</span>
	</div>
	<div>
		<table>
			<tr>
				<td>项目名称：</td>
				<td>
					<input type="text">
				</td>
			</tr>
			<tr>
				<td>项目说明：</td>
				<td>
					<input type="text" placeholder="请输入项目相关的日期等">
				</td>
			</tr>
			<tr>
				<td>产品</td>
			</tr>
			<tr>
				<td>人员</td>
				<td>
					<input type="text" placeholder="请输入产品人员">
				</td>
			</tr>
			<tr>
				<td>产品附件</td>
				<td>
					<button>上传附件</button>
				</td>
			</tr>
			<tr>
				<td>UI</td>
			</tr>
			<tr>
				<td>人员</td>
				<td>
					<input type="text" placeholder="请输入UI人员">
				</td>
			</tr>
			<tr>
				<td>UI附件</td>
				<td>
					<button>上传附件</button>
				</td>
			</tr>
			<tr>
				<td>开发</td>
			</tr>
			<tr>
				<td>人员</td>
				<td>
					<input type="text" placeholder="请输入开发人员">
				</td>
			</tr>
			<tr>
				<td>测试</td>
			</tr>
			<tr>
				<td>人员</td>
				<td>
					<input type="text" placeholder="请输入测试人员">
				</td>
			</tr>
			<tr>
				<td>测试附件</td>
				<td>
					<button>测试附件</button>
				</td>
				
			</tr>
		</table>
	</div>
	<div>
		<button>保存</button>
		<button>取消</button>
	</div>
</div>
</body>
</html>